<div class="ac_CS">
  <div>
    <h3>Frequently Bought Together</h3>
    <div class="ac_CSImages">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="ac_CSPricing">
      <span>Total Price:</span> <span></span> <!--span>$94.47</span> <span>(10% Off)</span-->
    </div>
    <div class="ac_CSCTA">
      <button>Add to Cart</button>
    </div>
    <div class="ac_CSProducts">
      <ul>
        <li>
          <label class="ac_CSProduct" for="ac_CSP1">
            <input type="checkbox" id="ac_CSP1" checked="true">
            <span class="ac_CSChk"></span>
            <span class="ac_CSProductInfo">
              <span><span class="ac_CSMain">This Item: </span><span class="ac_CSTitle">{{ product.title }}</span></span>
              <span><span></span></span>
            </span>
          </label>
        </li>
        <li>
          <label class="ac_CSProduct" for="ac_CSP2">
            <input type="checkbox" id="ac_CSP2" checked="true">
            <span class="ac_CSChk"></span>
            <span class="ac_CSProductInfo">
              <span class="ac_CSTitle"></span><span><span></span></span>
            </span>
          </label>
        </li>
        <li>
          <label class="ac_CSProduct" for="ac_CSP3">
            <input type="checkbox" id="ac_CSP3" checked="true">
            <span class="ac_CSChk"></span>
            <span class="ac_CSProductInfo">
              <span class="ac_CSTitle"></span><span><span></span></span>
            </span>
          </label>
        </li>
        <li>
          <label class="ac_CSProduct" for="ac_CSP4">
            <input type="checkbox" id="ac_CSP4" checked="true">
            <span class="ac_CSChk"></span>
            <span class="ac_CSProductInfo">
              <span class="ac_CSTitle"></span><span><span></span></span>
            </span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>