<label for="product-select">Choose Selling Plan:</label>

<select name="products" id="product-select">
  <option value="">--Choose Your Selling Plan--</option>
  <option value="12345">Every Week</option>
  <option value="678910">Every 2 Weeks</option>
  <option value="1112131415">Every month</option>
</select>

<script>
  
  const sellingPlanURL = new URL('https://9b69a1.myshopify.com/products/jason-robertson-rookie-card');

  console.log(sellingPlanURL);

  const productSelect = document.getElementById('product-select');

  productSelect.addEventListener("change", (event) => {
    let sellingPlanID = event.target.selectedOptions[0].value.toString();
    console.log(sellingPlanID);
   sellingPlanURL.searchParams.set('selling_plan', sellingPlanID);
    console.log(sellingPlanURL);
  });

  
</script>
