<label for="product-select">Choose Selling Plan:</label>

<select name="products" id="product-select">
  <option value="">--Choose Your Selling Plan--</option>
  <option value="12345">Every Week</option>
  <option value="678910">Every 2 Weeks</option>
  <option value="1112131415">Every month</option>
</select>

<script>
  const sellingPlanURL = new URL('https://www.example.dev/');

  // myUrlWithParams.searchParams.append('city', 'Rome');
  // myUrlWithParams.searchParams.append('price', '200');

  // console.log(myUrlWithParams.href);

  const productSelect = document.getElementById('product-select');

  productSelect.addEventListener("change", (event) => {
    console.log(event.target.selectedOptions);
  });

  
</script>
